
<body>
    <div class="contain">
        <div class="login-card">
            <h2>Login</h2>
            <form (ngSubmit)="onSubmit()">
                <!-- <div class="form-group">
                    <input type="email" id="email" name="email" email required placeholder=" ">
                    <label for="email">Email</label>
                </div> -->
                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Email" [(ngModel)]="user.username" required email #emailcheck="ngModel">
                    <label for="email">Email</label>
                    <div *ngIf="emailcheck.invalid && emailcheck.touched" class="alert">
                        <div *ngIf="emailcheck.errors?.['required']">Email is required !</div>
                        <div *ngIf="emailcheck.errors?.['email']">Please provide valid email address.</div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <input type="password" id="password" name="password" required placeholder=" ">
                    <label for="password">Password</label>
                </div> -->
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Password" required minlength="8" maxlength="20" [(ngModel)]="user.password" #passcheck="ngModel">
                    <label for="password">Password</label>
                    <div *ngIf="passcheck.invalid && passcheck.touched" class="alert">
                        <div *ngIf="passcheck.errors?.['required']">Password is required !</div>
                        <div *ngIf="passcheck.errors?.['minlength']">Password must be at least 8 chars long !</div>
                        <div *ngIf="passcheck.errors?.['maxlength']">Password can't exceed 20 chars !</div>
                    </div>
                </div>
                <button type="submit" class="btn">Login</button>
            </form>
            <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
        </div>
    </div>
</body>

